@import url('https://fonts.googleapis.com/css2?family=B612+Mono&family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bakbak+One&display=swap');


  body{
    margin: 0%;
    margin-top: 9%;
  }

  header {
    width: 100%; 
    height: 70pt; 
    left: 0px; 
    top: 0px;
    position: fixed; 
    background: #221524; 
    border-radius: 0px 0px 40px 40px;  
    z-index: 10;
    box-shadow: 0px 1px 50px rgb(18, 3, 99);
}

.headerpai{
    display: flex;
    justify-content: space-between;
    padding-left: 10pt;
    padding-right: 10pt;
}

.logo {
    background-color: rgb(253, 14, 94);
    width: 50pt;
    height: 60pt;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 0px 0px 20px 20px;
}

.picturelogo{
    width: 90%;
}

.title{
    margin: none;
    padding: none;
    align-items: center;
    justify-content: center;

}
.titlee{
    position: relative;
    text-align: center; 
    color: #ffffff; 
    font-size: max(15pt, 3vw);
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: 'Bakbak One', sans-serif;
    letter-spacing: 2px;
    white-space: nowrap;
    span{
        color: #a545ff;
    }

}

.subtitle{
    position: relative;
    text-align: center; 
    color: #ffffff; 
    font-size: 10px;
    margin-top: 0px;
    font-family: 'B612 Mono', monospace;
    letter-spacing: 1px;
    white-space: nowrap;
    font-size: max(5.5pt, 1vw);
}

.flags {
    width: 40px;
    height: 60px;
    display: flex;
    padding-top: 8pt;
}
.bandeiras{
    width: 90%;
}

/*carrosel*/

.splide__slide img {
    width: 60%;
    height: auto;
    object-fit: cover;
    display: flex;
    align-items: center;
    margin: auto;
    margin-top: 2%;
    border-radius: 30px;
    margin-bottom: 50px;
  }

/*fim do carrosel*/

  .blocks{
    display: flex;
    justify-content: center;
    
  }

  .squares1{
    border-radius: 20px;
    width: 200pt;
    height: 200pt;
    margin: 50pt;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding-top: 30pt;
    
  }
  .squares2{
    border-radius: 20px;
    width: 200pt;
    height: 200pt;
    margin: 50pt;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding-top: 16pt;
  }
  .squares3{
    border-radius: 20px;
    width: 200pt;
    height: 200pt;
    margin: 50pt;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding-top: 23pt;
  }

  .square{
    text-decoration: none;
  }

  .textsquare{
    font-family: 'Bakbak One', sans-serif;
    justify-content: center;
    display: flex;
    color: black;
    margin: 0px;
    margin-top: 10px;
  }

  .subtextsquare{
    font-family: 'B612 Mono';
    justify-content: center;
    display: flex;
    color: black;
    font-size: 10pt;
    align-items: center;
    text-align: center;
  }

  .imagensquare{
    width: 190pt;
    border-radius: 20px;
    margin-bottom: 10pt;
    box-shadow: 10px 10px 0px #221524;
    
  }

  /* FOOTER */

  footer{
    margin-top: 40pt;
    background-color:#221524;
    left: 0px;
    bottom: 0px;
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .logocolo{
    padding: 5px;
  }

  .text_footer{
    color: #a545ff;
    font-size: 10pt;
    font-family: 'B612 Mono';
    word-spacing: -3pt;
  }

  .iconessociais{
    display: flex;
    align-items: center;
    width: 3cm;
    justify-content: space-between;
    margin-bottom: 25px;
  }


  .autorais{
    text-decoration: none;
    font-size: 10pt;
  }



  /* FIM DO FOOTER */

  /*celular*/


@media (max-width: 600px) {
    header {
        height: 50pt;
        border-radius: 0px 0px 30px 30px;  
    } 

    .logo {
        width: 40pt;
        height: 40pt;
        border-radius: 0px 0px 10px 10px;
    }

    .flags{
        padding-top: 10px;
    }
    .bandeiras{
        width: 70%;
        height: 70%;
    }

    .blocks{
       display: flex;
       flex-direction: column;
       align-items: center;
       justify-content: center;
      }
    
      .squares{
        border-radius: 20px;
        width: 180pt;
        height: 180pt;
      }

      .imagensquare{
        width: 180pt;
        height: 180pt;
      }

      .textsquare{
        font-family: 'Bakbak One', sans-serif;
        justify-content: center;
        display: flex;
        color: black;
      }

}
